body {
    padding: 20px;
}

img {
    width: 120px;
    height: 120px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.content {
    text-align: center;
}

h1 {
    color: #d71e0a;
    font-size: 26px;
}

p {
    color: #FF2700;
}

/* 

table {
    min-width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #4F5256;
    padding-right: 8px;
    padding-left: 8px;
}

th {
    background-color: #4F5256;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}*/

.botones {
    margin-bottom: 10px;
}
